[Unit]
Description=Phosphor IPMI Serial Terminal Bridge
After=dbus.socket
Requires=dbus.socket

[Service]
Environment="SERIAL_PORT=/dev/ttyS0"
ExecStart=/usr/bin/serialipmid -d ${SERIAL_PORT}
Restart=always
Type=simple
RestartSec=10s

[Install]
WantedBy=multi-user.target